<div class="col-lg-3">
    <div class="product-item">
        <div>
            <a href="{% url 'product' product_image.product.id %}">
                <img src="{{ product_image.image.url }}" class="img-responsive">
            </a>
        </div>

        {% if product_image.product.discount %}
            <div class="discount-container">
                <span>{{ product_image.product.discount }}%</span>
            </div>
        {% endif %}

        <h4>{{ product_image.product.name|truncatechars_html:2 }}</h4>
        <p>
            {{ product_image.product.description|truncatechars_html:2 }}
        </p>
        <div>
            {{ product_image.price }} UAH
        </div>
        <div class="add-to-card-btn">
            <button  class="btn btn-success my-btn buy_item_product"
            data-product_id = "{{ product_image.product.id }}"
                data-name ="{{ product_image.product.name }}"
                data-price ="{{ product_image.product.price }}"
            onclick="Buy_item()">
                Добавить в корзину
            </button>
        </div>
    </div>
</div>
